/* вставляем стили непосредственно в styled-component  в персон между ``


/* .Person {
    width: 60%;
    margin: 0 auto;
    border: 1px solid #eee;
    padding: 16px;
    text-align: center;
}

@media (min-width: 500px) { 
    .Person {
        width: 450px;
    }
} */